.inria-sans-bold {
    font-family: "Inria Sans", serif;
    font-weight: 700;
    font-style: normal;
}

.inria-sans-light-italic {
    font-family: "Inria Sans", serif;
    font-weight: 300;
    font-style: italic;
}

.inria-sans-regular-italic {
    font-family: "Inria Sans", serif;
    font-weight: 400;
    font-style: italic;
}

.inria-sans-bold-italic {
    font-family: "Inria Sans", serif;
    font-weight: 700;
    font-style: italic;
}

body {
    text-align: center;
    background-color: #1e1e1e;
    font-family: "Inria Sans", sans-serif;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #ffffff;
    font: inherit;
    font-weight: 700;
    text-align: center;
    font-size: 4rem;
    padding-top: 15vh;
    padding-right: 10%;
    padding-left: 10%;
    margin: 0;
}

h2 {
    color: #b698cb;
    font: inherit;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    padding: 1rem 10%;
    margin: 0;
}

#button1:hover {
    background-color: #9e70df;
    cursor: pointer;
}

#button1 {
    font: inherit;
    font-weight: 800;
    text-align: center;
    font-size: 1.5rem;
    color: #000000;
    background-color: #b698cb;
    border-radius: 10px;
    border: none;
    padding: 1rem 2rem;
    margin: 1rem auto;
}

p {
    color: #b698cb;
    font: inherit;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    margin: 0.5rem auto;
}

#button2:hover {
    background-color: #9e70df;
    cursor: pointer;
}

#button2 {
    font: inherit;
    font-weight: 800;
    text-align: center;
    font-size: 1.5rem;
    color: #000000;
    background-color: #b698cb;
    border-radius: 10px;
    border: none;
    padding: 1rem 2rem;
    margin: 1rem auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.card {
    background-color: #3e3e3e;
    border-radius: 20px;
    padding: 2rem;
    width: 90%;
    max-width: 20rem;
    text-align: center;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.profile-img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.welcome-text {
    color: #F3E0FF;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.input-field {
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 1rem;
    background-color: #b698cb;
    color: #272727;
    font-size: 1rem;
    font-weight: 700;
    outline: none;
    text-align: center;
}

.signup-button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 0.75rem;
    background-color: #e3b8f1;
    color: #272727;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
}

.signup-button:hover {
    background-color: #caa4df;
}

.login-button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 0.75rem;
    background-color: #e3b8f1;
    color: #272727;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #caa4df;
}

/* Landing page */
#bars {
    position: absolute;
    top: 1.5vh;
    right: 1.5vw;
    width: 2.5%;
  }
  
  #Profile {
    position: absolute;
    top: 1.5vh;
    left: 1.5vw;
    width: 2.5%;
    border-radius: 50%;
    cursor: pointer;
  }

  #chat{
    width: 80vw;
    height: 4vh;
    margin-top: 90vh;
    background-color: #464646;
    
  }