* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    text-align: center;
    background-color: #1e1e1e;
    font-family: "Inria Sans", sans-serif;
    height: 100vh;
    overflow: hidden; /* Prevents unnecessary scrollbars */
}

.inria-sans-bold {
    font-family: "Inria Sans", serif;
    font-weight: 700;
    font-style: normal;
}

.inria-sans-light-italic {
    font-family: "Inria Sans", serif;
    font-weight: 300;
    font-style: italic;
}

.inria-sans-regular-italic {
    font-family: "Inria Sans", serif;
    font-weight: 400;
    font-style: italic;
}

.inria-sans-bold-italic {
    font-family: "Inria Sans", serif;
    font-weight: 700;
    font-style: italic;
}

h1 {
    color: #ffffff;
    font-weight: 700;
    font-size: 4rem;
    padding-top: 15vh;
    margin: 0 10%;
}

h2 {
    color: #b698cb;
    font-weight: 400;
    font-size: 2rem;
    padding: 1rem 10%;
}

#button1, #button2 {
    font-weight: 800;
    font-size: 1.5rem;
    color: #000000;
    background-color: #b698cb;
    border-radius: 10px;
    border: none;
    padding: 1rem 2rem;
    margin: 1rem auto;
}

#button1:hover, #button2:hover {
    background-color: #9e70df;
    cursor: pointer;
}

p {
    color: #b698cb;
    font-weight: 400;
    font-size: 2rem;
    margin: 0.5rem auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.card {
    background-color: #3e3e3e;
    border-radius: 20px;
    padding: 2rem;
    width: 90%;
    max-width: 20rem;
    text-align: center;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.profile-img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.welcome-text {
    color: #F3E0FF;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.input-field, .signup-button, .login-button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1vh;
}

.input-field {
    background-color: #b698cb;
    color: #272727;
    outline: none;
    text-align: center;
}

.signup-button, .login-button {
    background-color: #e3b8f1;
    color: #272727;
    margin-top: 1rem;
}

.signup-button:hover, .login-button:hover {
    background-color: #caa4df;
}

#bars {
    position: absolute;
    top: 1.5vh;
    right: 1.5vw;
    width: 2.5%;
    cursor: pointer;
}

#Profile {
    position: absolute;
    top: 1.5vh;
    left: 1.5vw;
    width: 2.5%;
    border-radius: 50%;
    cursor: pointer;
}

#chat{
    width: 80vw;
    height: 6vh;
    margin-top: 85vh;
    background-color: #464646;
    padding: 10px;
    font-family: "Inria Sans", sans-serif;
    font-size: 1.5rem;
    color: #e3abff;
    border: none;
    border-radius: 24px;
   
 }
.sidebar-btn{
    background-color: #E3BAFF;
    border: none;
    border-radius: 18px;
    margin-block: 10px;
    width: 70%;
    margin-inline: auto;
    text-align: center;
}
input::placeholder {
    font-size: 1.5rem;
    font-family: "Inria Sans";
    color: #e3abff65;
    vertical-align: middle;
}

#send-button{
    width: 5.5vh;
    height: 5.5vh;
    margin-top: 90vh;
    border-radius: 100%;
    margin-left: 1%;
    background-color: #464646;
    color: #E3BAFF;
    margin-block: auto;
  }

  #send-button:hover{
    cursor: pointer;
    background-color: #000000;
    color: #E36AFF;
  }
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-right 0.5s;
    padding: 16px;
    margin-top: -10vh; /* Adjust this value to move it up */
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    
    .sidenav a {
        font-size: 18px;
    }
}
